.header-info {
    display: flex;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.paper-block {
    padding: 15px;
    background: rgba(0,0,0,0.65);
    position: relative;
    margin-bottom: 15px;
}

.left-menu h1 {
    text-transform: none;
}

.left-menu {    
    margin-top: 40px;
}

.timer {    
    margin-top: 40px;
}

.sale-block {
    background: #d41944;
    color: white;
    position: absolute;
    left: 0px;
    padding: 5px 45px;
}

.logo-mobile-container {
    text-align: center;
}

.logo-mobile-container .logo {
    margin-right: 0px;
    background-size: 410px;
    width: 60px;
    height: 67px;
}

.toolbar-icon-right {
    text-align: right;
    margin-right: 15px;
}

.toolbar-icon-left {
    text-align: left;
    margin-left: 15px;
}

.toolbar-icon {
    margin-top: 21px;
}

.toolbar-icon span {
    font-size: 30px;
    color: white;
}

.drawer-container {
    display: none;
}

.drawer-nav {
    z-index: 200;
}

.drawer-container {
    z-index: 200;
    margin-top: 8px;
    margin-left: 15px
}

.drawer-overlay {
    z-index: 100;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
    background-color: #fff;
}

.sphere .divider {
    width: 100%;
    margin-left: 0px;
}

.advantage-block {
    text-align: center;
}

.why-we .top {
    background-position: center;
}

.question {
    background-size: auto 100%;
}

.main {
    background-size: auto 100%;
}

@media (max-width: 992px) {
    header {
        height: 72px;
        min-height: 72px;
    }
    .drawer-container {
        display: block;
    }
    .slider-container {
        padding-left: 50px;
        padding-right: 50px;
    }
    .projects .info {
        margin-left: 0px;
        width: 100%;
    }
    .projects-image {
        text-align: center;
    }
    footer .top {
        height: inherit;
        text-align: center;
    }
    footer .marketing-logo {
        float: inherit;
        margin-bottom: 20px;
    }
    .advantages .advantage {
        margin-bottom: 20px;
    }
    .why-we .top:before {
        display: none;
    }
    .question .wrapper {
        width: initial;
    }
    .input-mobile {
        margin-left: 0px!iportant;
        margin-right: 0px!important;
    }
    .why-we .additional + .additional {
        margin-top: 15px;
    }
}

@media (max-width: 700px) { 
    .why-we .additional {
        float: left;
    }
    .why-we .additional + .additional {
        margin-left: 5px;
    }
    .box-modal .divider:before {
        display: none;
    }
    .box-modal {
        width: 100%;
    }
    .box-modal form {
        width: inherit;
    }
    .main form {
        width: inherit;
    }
    .main .wrapper {
        width: inherit;
    }
}